# Default values for corda.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- override chart fullname
fullnameOverride: ""

# -- override chart name
nameOverride: ""

# worker and cli image defaults
image:
  # -- worker image registry
  registry: "corda-os-docker.software.r3.com"
  # -- worker image tag, defaults to Chart appVersion
  tag: ""

# -- image pull secrets
imagePullSecrets: []

# -- the image policy
imagePullPolicy: Always

# resource limits and requests configuration for the Corda worker containers
resources:
  # -- the CPU/memory resource limits for the Corda worker containers
  limits: {}
  # -- the CPU/memory resource request for the Corda worker containers
  requests: {}

# -- node labels for pod assignment, see https://kubernetes.io/docs/user-guide/node-selection/
nodeSelector: {}

# Database configuration
db:
  # Cluster database configuration
  cluster:
    # -- the cluster database host (required)
    host: ""
    # -- the cluster database type
    type: "postgresql"
    # -- the cluster database port
    port: 5432
    # -- the cluster database user
    user: user
    # -- the name of the cluster database
    database: cordacluster
    # -- the cluster database password (ignored if existingSecret is set, otherwise required)
    password: ""
    # -- the name of an existing secret containing the cluster database password with a key of 'password'
    existingSecret: ""
  clientImage:
    # -- registry for image containing a db client, used to set up the db
    registry: ""
    # -- repository for image containing a db client, used to set up the db
    repository: bitnami/postgresql
    # -- tag for image containing a db client, used to set up the db
    tag: 14.2.0-debian-10-r88

# Kafka configuration
kafka:
  # -- comma-separated list of Kafka bootstrap servers (required)
  bootstrapServers: ""
  # -- Kafka topic partitions
  partitions: 3
  # -- Kafka topic replicas
  replicas: 3
  # -- prefix to use for Kafka topic names (to support the use of a single Kafka cluster by multiple Corda clusters)
  topicPrefix: ""
  # TLS configuration for client connections to Kafka
  tls:
    # -- indicates whether TLS should be used for client connections to Kafka
    enabled: false
    # if TLS is enabled, the truststore configuration for client connections to Kafka
    truststore:
      # if TLS is enabled, details of an existing Kubernetes secret containing the truststore for client connections to Kafka
      secretRef:
        # -- if TLS is enabled, the name of an existing Kubernetes secret containing the truststore for client connections to Kafka; blank if no truststore is required
        name: ""
        # -- if TLS is enabled, the name of an existing Kubernetes secret containing the truststore for client connections to Kafka
        key: "ca.crt"
      # -- if TLS is enabled, the type of the truststore for client connections to Kafka; one of PEM or JKS
      type: "PEM"
      # -- if TLS is enabled, the password for the truststore for client connections to Kafka, if any
      password: ""
  # SASL configuration for client connection to Kafka
  sasl:
    # -- SASL username for client connection to Kafka 
    username: "user"
    # -- SASL password for client connection to Kafka 
    password: ""
    # -- SASL mechanism for client connection to Kafka 
    mechanism: "SCRAM-SHA-256"
    # -- enable/disable SASL for client connection to Kafka 
    enabled: false

  clientImage:
    # -- registry for image containing a Kafka client, used to set up Kafka
    registry: ""
    # -- repository for image containing a Kafka client, used to set up Kafka
    repository: bitnami/kafka
    # -- tag for image containing a Kafka client, used to set up Kafka
    tag: 3.1.0-debian-10-r89

# Configuration for the bootstrapper
bootstrap:
  auto: true
  image:
    # -- cli image registry
    registry: ""
    # -- cli image repository
    repository: "corda-os-plugins"
    # -- cli default tag
    tag: ""

# worker configuration
workers:
  # crypto worker configuration
  crypto:
    # crypto worker image configuration
    image:
      # -- crypto worker image registry, defaults to image.registry
      registry: ""
      # -- crypto worker image repository
      repository: "corda-os-crypto-worker"
      # -- crypto worker image tag, defaults to image.tag
      tag: ""
    # -- crypto worker replica count
    replicaCount: 1
    # crypto worker debug configuration
    debug:
      # -- run crypto worker with debug enabled
      enabled: false
      # -- if debug is enabled, suspend the crypto worker until the debugger is attached
      suspend: false
    # resource limits and requests configuration for the crypto worker containers
    resources:
      # -- the CPU/memory resource requests for the crypto worker containers
      requests: {}
      # -- the CPU/memory resource limits for the crypto worker containers
      limits: {}

  # DB worker configuration
  db:
    # DB worker image configuration
    image:
      # -- DB worker image registry, defaults to image.registry
      registry: ""
      # -- DB worker image repository
      repository: "corda-os-db-worker"
      # -- DB worker image tag, defaults to image.tag
      tag: ""
    # -- DB worker replica count
    replicaCount: 1
    # DB worker debug configuration
    debug:
      # -- run DB worker with debug enabled
      enabled: false
      # -- if debug is enabled, suspend the DB worker until the debugger is attached
      suspend: false
    # -- DB worker salt, defaults to a value randomly-generated on install
    salt: ""
    # -- DB worker passphrase, defaults to a value randomly-generated on install
    passphrase: ""    
    # resource limits and requests configuration for the DB worker containers.
    resources:
      # -- the CPU/memory resource requests for the DB worker containers
      requests: {}
      # -- the CPU/memory resource limits for the DB worker containers
      limits: {}

  # flow worker configuration
  flow:
    # flow worker image configuration
    image:
      # -- flow worker image registry, defaults to image.registry
      registry: ""
      # -- flow worker image repository
      repository: "corda-os-flow-worker"
      # -- flow worker image tag, defaults to image.tag
      tag: ""
    # -- flow worker replica count
    replicaCount: 1
    # flow worker debug configuration
    debug:
      # -- run flow worker with debug enabled
      enabled: false
      # -- if debug is enabled, suspend the flow worker until the debugger is attached
      suspend: false
    # resource limits and requests configuration for the flow worker containers.
    resources:
      # -- the CPU/memory resource requests for the flow worker containers
      requests: {}
      # -- the CPU/memory resource limits for the flow worker containers
      limits: {}

  # membership worker configuration
  membership:
    # membership worker image configuration
    image:
      # -- membership worker image registry, defaults to image.registry
      registry: ""
      # -- membership worker image repository
      repository: "corda-os-member-worker"
      # -- membership worker image tag, defaults to image.tag
      tag: ""
    # -- membership worker replica count
    replicaCount: 1
    # membership worker debug configuration
    debug:
      # -- run membership worker with debug enabled
      enabled: false
      # -- if debug is enabled, suspend the membership worker until the debugger is attached
      suspend: false
    # resource limits and requests configuration for the membership worker containers
    resources:
      # -- the CPU/memory resource requests for the membership worker containers
      requests: {}
      # -- the CPU/memory resource limits for the membership worker containers
      limits: {}

  # RPC worker configuration
  rpc:
    # RPC worker image configuration
    image:
      # -- RPC worker image registry, defaults to image.registry
      registry: ""
      # -- RPC worker image repository
      repository: "corda-os-rpc-worker"
      # -- RPC worker image tag, defaults to image.tag
      tag: ""
    # -- RPC worker replica count
    replicaCount: 1
    # RPC worker debug configuration
    debug:
      # -- run RPC worker with debug enabled
      enabled: false
      # -- if debug is enabled, suspend the RPC worker until the debugger is attached
      suspend: false
    # -- resource limits and requests configuration for the RPC worker containers.
    resources:
      # -- the CPU/memory resource requests for the RPC worker containers
      requests: {}
      # -- the CPU/memory resource limits for the RPC worker containers
      limits: {}
    # RPC worker service configuration
    service:
      # -- the type for the RPC worker service
      type: ClusterIP
      # -- the traffic policy for the RPC worker service
      externalTrafficPolicy: ""
      # -- the LoadBalancer source ranges to limit access to the RPC worker service
      loadBalancerSourceRanges: []
      # -- the annotations for RPC worker service
      annotations: {}