[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
certifi = "*"
codetiming = "*"
pandas = "*"
plotly = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.9"
