# Modules to be audited by Ledger SMEs
/components/ledger/                                             @corda/ledger
/libs/ledger/                                                   @corda/ledger
/testing/ledger/                                                @corda/ledger

# Modules to be audited by Notary SMEs
/components/uniqueness/                                         @corda/notaries
/libs/uniqueness/                                               @corda/notaries
/notary-plugins/                                                @corda/notaries
/processors/uniqueness-processor/                               @corda/notaries
/testing/uniqueness/                                            @corda/notaries

# Code freeze reviewers
* @driessamyn @jasonbyrner3 @ronanbrowne @rick-r3 @simon-johnson-r3 @blsemo @Omar-awad @aditisdesai @vinir3 @vkolomeyko @thiagoviana @Sakpal @dickon @owenstanford
