<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>

        <!-- 'JSON' output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="{ &quot;ver&quot;:&quot;0.1&quot;, &quot;message&quot; : &quot;%d{yyyy-MM-dd'T'HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg&quot;}%n"/>
        </Console>

        <File name="App" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="TestApp" fileName="logs/demoApp.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="Config" fileName="logs/config.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="PubSub" fileName="logs/pubsub.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="Durable" fileName="logs/durable.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="Compacted" fileName="logs/compacted.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="StateEvent" fileName="logs/stateAndEvent.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <logger name="net.corda.applications.examples.demo">
            <appender-ref ref="TestApp" level="info"/>
        </logger>

        <logger name="net.corda.components.examples.config">
            <appender-ref ref="Config" level="info"/>
        </logger>

        <logger name="net.corda.components.examples.pubsub">
            <appender-ref ref="PubSub" level="info"/>
        </logger>

        <logger name="net.corda.components.examples.durable">
            <appender-ref ref="Durable" level="info"/>
        </logger>

        <logger name="net.corda.components.examples.compacted">
            <appender-ref ref="Compacted" level="info"/>
        </logger>

        <logger name="net.corda.components.examples.stateevent">
            <appender-ref ref="StateEvent" level="info"/>
        </logger>

        <logger name="Console">
            <appender-ref ref="Console" level="info"/>
        </logger>

        <root level="info">
            <appender-ref ref="App" level="info"/>
            <appender-ref ref="Console" level="info"/>
        </root>
    </loggers>
</configuration>
