.selectedParticipantsWrapper {
    display: flex;
    margin-bottom: var(--m-4);
}

.text {
    margin: 8px auto auto var(--m-2);
    font-size: var(--text-md);
    color: var(--color-blue);
}

.clearButton {
    margin: auto var(--m-4) auto auto;
}

.blue {
    color: var(--color-blue);
}

.error {
    color: var(--color-red);
    opacity: 0.75;
}
