DENY {
[org.osgi.service.condpermadmin.BundleLocationCondition "FLOW/*"]
(java.lang.reflect.ReflectPermission "suppressAccessChecks" "")
} "deny reflection"