{{- if and (.Values.appSimulators.sender.enabled) (eq .Values.appSimulators.sender.loadGenerationType "CONTINUOUS") }}
{{- $_ := set . "type" "sender" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "appSimulator.typeName" . }}
  labels:
    {{- include "appSimulator.typeLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.appSimulators.sender.replicaCount }}
  selector:
    matchLabels:
      {{- include "appSimulator.typeSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "appSimulator.typeSelectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      {{- include "appSimulator.imagePullSecrets" . | nindent 6 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: "app.kubernetes.io/component"
                      operator: In
                      values:
                        - receiver
                topologyKey: "kubernetes.io/hostname"
      containers:
        - name: {{ include "appSimulator.typeName" . }}
          image: {{ include "appSimulator.image" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
          args:
            - "--mode {{ .type | snakecase | upper }}"
            - "--clients {{ .Values.appSimulators.sender.parallelClientsPerReplica }}"
            - "-lloadGenerationType=CONTINUOUS"
            - "-lpeerX500Name={{ .Values.appSimulators.sender.peerX500Name }}"
            - "-lpeerGroupId={{ .Values.appSimulators.sender.peerGroupId }}"
            - "-lourX500Name={{ .Values.appSimulators.sender.ourX500Name }}"
            - "-lourGroupId={{ .Values.appSimulators.sender.ourGroupId }}"
            - "-lbatchSize={{ .Values.appSimulators.sender.batchSize }}"
            - "-linterBatchDelay={{ .Values.appSimulators.sender.interBatchDelay }}"
            - "-lmessageSizeBytes={{ .Values.appSimulators.sender.messageSizeBytes }}"
            {{- if .Values.appSimulators.sender.expireMessages.enabled }}
            - "--lexpireAfterTime={{ .Values.appSimulators.sender.expireAfterTimeS }}"
            {{- end }}
            {{- include "appSimulator.kafkaArgs" . | nindent 12 }}
            {{- include "appSimulator.databaseArgs" . | nindent 12 }}
          {{- if .Values.appSimulators.sender.debug.enabled }}
          ports:
            - name: debug
              containerPort: 5005
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}