{{- if and (.Values.appSimulators.sender.enabled) (eq .Values.appSimulators.sender.loadGenerationType "ONE_OFF") }}
{{- $_ := set . "type" "sender" }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "appSimulator.fullname" . }}-sender
  labels:
    app.kubernetes.io/component: sender
  annotations:
    "helm.sh/hook": post-install, post-upgrade
spec:
  parallelism: {{ .Values.appSimulators.sender.replicaCount }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: sender
    spec:
      {{- include "appSimulator.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: {{ include "appSimulator.fullname" . }}-sender
          image: {{ include "appSimulator.image" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          securityContext:
            allowPrivilegeEscalation: false
          args:
            - "--mode SENDER"
            - "--clients {{ .Values.appSimulators.sender.parallelClientsPerReplica }}"
            - "-lloadGenerationType=ONE_OFF"
            - "-lpeerX500Name={{ .Values.appSimulators.sender.peerX500Name }}"
            - "-lpeerGroupId={{ .Values.appSimulators.sender.peerGroupId }}"
            - "-lourX500Name={{ .Values.appSimulators.sender.ourX500Name }}"
            - "-lourGroupId={{ .Values.appSimulators.sender.ourGroupId }}"
            - "-lbatchSize={{ .Values.appSimulators.sender.batchSize }}"
            - "-ltotalNumberOfMessages={{ .Values.appSimulators.sender.totalNumberOfMessages}}"
            - "-linterBatchDelay={{ .Values.appSimulators.sender.interBatchDelay }}"
            - "-lmessageSizeBytes={{ .Values.appSimulators.sender.messageSizeBytes }}"
            {{- if .Values.appSimulators.sender.expireMessages.enabled }}
            - "--lexpireAfterTime={{ .Values.appSimulators.sender.expireAfterTimeS }}"
            {{- end }}
            {{- include "appSimulator.kafkaArgs" . | nindent 12 }}
            {{- if .Values.appSimulators.sender.sendMessagesToDatabase }}
            {{- include "appSimulator.databaseArgs" . | nindent 12 }}
            {{- end }}
          env:
            - name: JAVA_TOOL_OPTIONS
              value: {{- if .Values.appSimulators.sender.debug.enabled }}
                -agentlib:jdwp=transport=dt_socket,server=y,address=5005,suspend={{ if .Values.appSimulators.sender.debug.suspend }}y{{ else }}n{{ end }}
              {{- end -}}
              {{- if .Values.kafka.sasl.enabled }}
                -Djava.security.auth.login.config=/etc/config/jaas.conf
              {{- end }}
          volumeMounts:
          {{- include "appSimulator.volumeMounts" . | nindent 10 }}
          {{- if .Values.appSimulators.sender.debug.enabled }}
          ports:
            - name: debug
              containerPort: 5005
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      initContainers:
      {{ include "appSimulator.kafkaSaslInitContainer" . | nindent 8 }}        
      volumes:
      {{- include "appSimulator.volumes" . | nindent 8 }}
      restartPolicy: Never
  backoffLimit: 0
{{- end }}
