{{- if .Values.bootstrap.db.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "corda.fullname" . }}-setup-db
  labels:
    {{- include "corda.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install
spec:
  template:
    metadata:
      labels:
        {{- include "corda.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "corda.imagePullSecrets" . | nindent 6 }}
      {{- include "corda.bootstrapServiceAccount" . | nindent 6 }}
      securityContext:
        runAsUser: 10001
        runAsGroup: 10002
        fsGroup: 1000
      containers:
        - name: fin
          image: {{ include "corda.bootstrapImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command:
            - /bin/sh
            - -e
            - -c
          args: ["echo", "'DB Bootstrapped'"]
          workingDir: /tmp/working_dir
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
      initContainers:
        - name: create-db-schemas
          image: {{ include "corda.bootstrapImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          args: [ 'database', 'spec', '-g', 'config:{{ .Values.db.cluster.schema }},rbac:{{ .Values.bootstrap.db.rbac.schema }},crypto:{{ .Values.bootstrap.db.crypto.schema }}', '-c', '-l', '/tmp/working_dir', '--jdbc-url', 'jdbc:{{ include "corda.clusterDbType" . }}://{{ required "A db host is required" .Values.db.cluster.host }}:{{ include "corda.clusterDbPort" . }}/{{ include "corda.clusterDbName" . }}', '-u', $(PGUSER), '-p', $(PGPASSWORD) ]
          workingDir: /tmp/working_dir
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
            {{ include "corda.log4jVolumeMount" . | nindent 12 }}
          env:
            {{- include "corda.clusterDbEnv" . | nindent 12 }}
            {{ include "corda.cliEnv" . | nindent 12 }}
        - name: apply-db-schemas
          image: {{ include "corda.dbClientImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command: [ 'sh', '-c', 'for f in /tmp/working_dir/*.sql; do psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} -f "$f" --dbname {{ include "corda.clusterDbName" . }}; done' ]
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
          env:
          {{- include "corda.clusterDbEnv" . | nindent 12 }}
        - name: create-initial-rbac-db-config
          image: {{ include "corda.bootstrapImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          args: [ 'initial-config', 'create-db-config', '-u', '$(RBAC_DB_USER_USERNAME)', '-p', $(RBAC_DB_USER_PASSWORD), '--name', 'corda-rbac', '--jdbc-url', 'jdbc:{{ include "corda.clusterDbType" . }}://{{ required "A db host is required" .Values.db.cluster.host }}:{{ include "corda.clusterDbPort" . }}/{{ include "corda.clusterDbName" . }}?currentSchema={{ .Values.bootstrap.db.rbac.schema }}', '--jdbc-pool-max-size', {{ .Values.bootstrap.db.rbac.dbConnectionPool.maxSize | quote }}, '--salt', "$(SALT)", '--passphrase', "$(PASSPHRASE)", '-l', '/tmp/working_dir']
          workingDir: /tmp/working_dir
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
            {{ include "corda.log4jVolumeMount" . | nindent 12 }}
          env:
            {{ include "corda.configSaltAndPassphraseEnv" . | nindent 12 }}
            {{ include "corda.cliEnv" . | nindent 12 }}
            {{ include "corda.rbacDbUserEnv" . | nindent 12 }}
        - name: apply-initial-rbac-db-config
          image: {{ include "corda.dbClientImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command: [ 'sh', '-c', 'psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} -f /tmp/working_dir/db-config.sql --dbname "dbname={{ include "corda.clusterDbName" . }} options=--search_path={{ .Values.db.cluster.schema }}"' ]
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
          env:
          {{- include "corda.clusterDbEnv" . | nindent 12 }}
        - name: create-initial-vnodes-db-config
          image: {{ include "corda.bootstrapImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          args: [ 'initial-config', 'create-db-config', '-a', '-u', $(PGUSER), '-p', $(PGPASSWORD), '--name', 'corda-virtual-nodes', '--jdbc-url', 'jdbc:{{ include "corda.clusterDbType" . }}://{{ required "A db host is required" .Values.db.cluster.host }}:{{ include "corda.clusterDbPort" . }}/{{ include "corda.clusterDbName" . }}', '--jdbc-pool-max-size', {{ .Values.bootstrap.db.rbac.dbConnectionPool.maxSize | quote }}, '--salt', "$(SALT)", '--passphrase', "$(PASSPHRASE)", '-l', '/tmp/working_dir']
          workingDir: /tmp/working_dir
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
            {{ include "corda.log4jVolumeMount" . | nindent 12 }}
          env:
            {{ include "corda.configSaltAndPassphraseEnv" . | nindent 12 }}
            {{ include "corda.cliEnv" . | nindent 12 }}
            {{ include "corda.rbacDbUserEnv" . | nindent 12 }}
            {{- include "corda.clusterDbEnv" . | nindent 12 }}
        - name: apply-initial-vnodes-db-config
          image: {{ include "corda.dbClientImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command: [ 'sh', '-c', 'psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} -f /tmp/working_dir/db-config.sql --dbname "dbname={{ include "corda.clusterDbName" . }} options=--search_path={{ .Values.db.cluster.schema }}"' ]
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
          env:
          {{- include "corda.clusterDbEnv" . | nindent 12 }}
        - name: create-initial-crypto-db-config
          image: {{ include "corda.bootstrapImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          args: [ 'initial-config', 'create-db-config', '-u', '$(CRYPTO_DB_USER_USERNAME)', '-p', '$(CRYPTO_DB_USER_PASSWORD)', '--name', 'corda-crypto', '--jdbc-url', 'jdbc:{{ include "corda.clusterDbType" . }}://{{ required "A db host is required" .Values.db.cluster.host }}:{{ include "corda.clusterDbPort" . }}/{{ include "corda.clusterDbName" . }}?currentSchema={{ .Values.bootstrap.db.crypto.schema }}', '--jdbc-pool-max-size', {{ .Values.bootstrap.db.crypto.dbConnectionPool.maxSize | quote }}, '--salt', "$(SALT)", '--passphrase', "$(PASSPHRASE)", '-l', '/tmp/working_dir']
          workingDir: /tmp/working_dir
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
            {{ include "corda.log4jVolumeMount" . | nindent 12 }}
          env:
            {{ include "corda.configSaltAndPassphraseEnv" . | nindent 12 }}
            {{ include "corda.cliEnv" . | nindent 12 }}
            {{ include "corda.cryptoDbUserEnv" . | nindent 12 }}
        - name: apply-initial-crypto-db-config
          image: {{ include "corda.dbClientImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command: [ 'sh', '-c', 'psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} -f /tmp/working_dir/db-config.sql --dbname "dbname={{ include "corda.clusterDbName" . }} options=--search_path={{ .Values.db.cluster.schema }}"' ]
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
          env:
          {{- include "corda.clusterDbEnv" . | nindent 12 }}
        - name: create-initial-rpc-admin
          image: {{ include "corda.bootstrapImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          args: [ 'initial-config', 'create-user-config', '-u', '$(INITIAL_ADMIN_USER_USERNAME)', '-p', '$(INITIAL_ADMIN_USER_PASSWORD)', '-l', '/tmp/working_dir']
          workingDir: /tmp/working_dir
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
            {{ include "corda.log4jVolumeMount" . | nindent 12 }}
          env:
            {{ include "corda.initialAdminUserSecretEnv" . | nindent 12 }}
            {{ include "corda.cliEnv" . | nindent 12 }}
        - name: apply-initial-rpc-admin
          image: {{ include "corda.dbClientImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command: [ 'sh', '-c', 'psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} -f /tmp/working_dir/rbac-config.sql --dbname "dbname={{ include "corda.clusterDbName" . }} options=--search_path={{ .Values.bootstrap.db.rbac.schema }}"' ]
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
          env:
          {{- include "corda.clusterDbEnv" . | nindent 12 }}
        - name: create-db-users-and-grant
          image: {{ include "corda.dbClientImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command: [ '/bin/sh', '-e', '-c' ]
          args:
            - |
              psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} {{ include "corda.clusterDbName" . }} -c "CREATE USER $RBAC_DB_USER_USERNAME WITH ENCRYPTED PASSWORD '$RBAC_DB_USER_PASSWORD';"
              psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} {{ include "corda.clusterDbName" . }}  -c "GRANT USAGE ON SCHEMA {{ .Values.bootstrap.db.rbac.schema }} to $RBAC_DB_USER_USERNAME;"
              psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} {{ include "corda.clusterDbName" . }}  -c "GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA {{ .Values.bootstrap.db.rbac.schema }} to $RBAC_DB_USER_USERNAME;"
              psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} {{ include "corda.clusterDbName" . }}  -c "CREATE USER $CRYPTO_DB_USER_USERNAME WITH ENCRYPTED PASSWORD '$CRYPTO_DB_USER_PASSWORD';"
              psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} {{ include "corda.clusterDbName" . }}  -c "GRANT USAGE ON SCHEMA {{ .Values.bootstrap.db.crypto.schema }} to $CRYPTO_DB_USER_USERNAME;"
              psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} {{ include "corda.clusterDbName" . }}  -c "GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA {{ .Values.bootstrap.db.crypto.schema }} to $CRYPTO_DB_USER_USERNAME;"
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
          env:
          {{- include "corda.clusterDbEnv" . | nindent 12 }}
          {{ include "corda.rbacDbUserEnv" . | nindent 12 }}
          {{ include "corda.cryptoDbUserEnv" . | nindent 12 }}          
        - name: create-initial-crypto-worker-config
          image: {{ include "corda.bootstrapImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          args: [ 'initial-config', 'create-crypto-config', '--salt', "$(SALT)", '--passphrase', "$(PASSPHRASE)", '-l', '/tmp/working_dir']
          workingDir: /tmp/working_dir
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
            {{ include "corda.log4jVolumeMount" . | nindent 12 }}
          env:
            {{ include "corda.configSaltAndPassphraseEnv" . | nindent 12 }}
            {{ include "corda.cliEnv" . | nindent 12 }}
        - name: apply-initial-crypto-worker-config
          image: {{ include "corda.dbClientImage" . }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- include "corda.bootstrapResources" . | nindent 10 }}
          {{- include "corda.containerSecurityContext" . | nindent 10 }}
          command: [ 'sh', '-c', 'psql -h {{ required "A db host is required" .Values.db.cluster.host }} -p {{ include "corda.clusterDbPort" . }} -f /tmp/working_dir/crypto-config.sql --dbname "dbname={{ include "corda.clusterDbName" . }} options=--search_path={{ .Values.db.cluster.schema }}"' ]
          volumeMounts:
            - mountPath: /tmp/working_dir
              name: working-volume
          env:
          {{- include "corda.clusterDbEnv" . | nindent 12 }}

      volumes:
        - name: working-volume
          emptyDir: {}
        {{ include "corda.log4jVolume" . | nindent 8 }}

      {{- include "corda.bootstrapNodeSelector" . | nindent 6 }}

      restartPolicy: Never
{{- end }}
