{{- $_ := set . "worker" "flow" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "corda.workerName" . }}
  labels:
    {{- include "corda.workerLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.workers.flow.replicaCount }}
  selector:
    matchLabels:
      {{- include "corda.workerSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "corda.workerSelectorLabels" . | nindent 8 }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      {{- include "corda.imagePullSecrets" . | nindent 6 }}
      containers:
      - name: {{ include "corda.workerName" . }}
        image: {{ include "corda.workerImage" . }}
        imagePullPolicy:  {{ .Values.imagePullPolicy }}
        securityContext:
          allowPrivilegeEscalation: false
        {{- if .Values.workers.flow.resources }}
        resources: {{- toYaml .Values.workers.flow.resources | nindent 10 }}
        {{- else }}
        resources: {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        env:
        {{- include "corda.workerJavaToolOptions" . | nindent 10 }}
        args:
        {{- include "corda.workerKafkaArgs" . | nindent 10 }}
        ports:
        {{- if .Values.workers.rpc.debug.enabled }}
          - name: debug
            containerPort: 5005
        {{- end }}
          - name: health
            containerPort: 7000
        livenessProbe:
          httpGet:
            path: /isHealthy
            port: health
          periodSeconds: 10
          failureThreshold: 1
        startupProbe:
          httpGet:
            path: /isHealthy
            port: health
          periodSeconds: 10
          failureThreshold: 5
      nodeSelector:
        kubernetes.io/os: linux
        kubernetes.io/arch: amd64
