{{- $_ := set . "worker" "p2pGateway" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "corda.workerName" . | quote }}
  labels:
    {{- include "corda.workerLabels" . | nindent 4 }}
spec:
  clusterIP: None
  selector:
    {{- include "corda.workerSelectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.workers.p2pGateway.service.port }}
      targetPort: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "corda.workerName" . | quote }}
  labels:
    {{- include "corda.workerLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.workers.p2pGateway.replicaCount }}
  selector:
    matchLabels:
      {{- include "corda.workerSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "corda.workerAnnotations" . | nindent 8 }}
      labels:
        {{- include "corda.workerSelectorLabels" . | nindent 8 }}
    spec:
      {{- include "corda.podSecurityContext" . | nindent 6 }}
      {{- include "corda.imagePullSecrets" . | nindent 6 }}
      {{- include "corda.serviceAccount" . | nindent 6 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: "app.kubernetes.io/component"
                      operator: In
                      values:
                        - p2pGateway
                topologyKey: "kubernetes.io/hostname"
      containers:
      - name: {{ include "corda.workerName" . | quote }}
        image: {{ include "corda.workerImage" . }}
        imagePullPolicy:  {{ .Values.imagePullPolicy }}
        {{- include "corda.containerSecurityContext" . | nindent 8 }}
        {{- include "corda.workerResources" . | nindent 8 }}
        env:
        {{- include "corda.workerEnv" . | nindent 10 }}
        args:
        {{- include "corda.workerKafkaArgs" . | nindent 10 }}
        volumeMounts:
        {{- include "corda.workerVolumeMounts" . | nindent 10 }}
        ports:
          - name: http
            containerPort: {{ .Values.workers.p2pGateway.service.port }}
        {{- if .Values.workers.p2pGateway.debug.enabled }}
          - name: debug
            containerPort: 5005
        {{- end }}
        {{- if .Values.workers.p2pGateway.profiling.enabled }}
          - name: profiling
            containerPort: 10045
        {{- end }}
          - name: monitor
            containerPort: 7000
        {{- include "corda.workerProbes" . | nindent 8 }}
      initContainers:
      {{ include "corda.kafkaSaslInitContainer" . | nindent 8 }}        
      volumes:
      {{- include "corda.workerVolumes" . | nindent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
