{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.db.cluster
    "boostrap.db.cluster"
    ( include "corda.bootstrapClusterDbDefaultSecretName" . )
    ( dict "username" ( dict ) "password" ( dict ) )
    ( dict "cleanup" true )
  )
}}
{{- include "corda.secret"
  ( list
    $
    .Values.db.cluster
    "db.cluster"
    ( include "corda.clusterDbDefaultSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "required" true ) )
  )
}}
{{- if .Values.stateManager.db.host }}
{{- include "corda.secret"
  ( list
    $
    .Values.stateManager.db
    "stateManager.db"
    ( include "corda.stateManagerDbDefaultSecretName" . )
    ( dict "username" ( dict ) "password" ( dict ) )
  )
}}
{{- end }}
{{- include "corda.secret"
  ( list
    $
    .Values.config.encryption
    "config.encryption"
    ( printf "%s-config" ( include "corda.fullname" . ) )
    ( dict "salt" ( dict "generate" 32 ) "passphrase" ( dict "generate" 32 ) )
  )
}}
{{- if .Values.bootstrap.db.enabled }}
{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.db.crypto
    "bootstrap.db.crypto"
    ( include "corda.cryptoDbDefaultSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "generate" 12 ) )
    ( dict "cleanup" true )
  )
}}
{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.db.rbac
    "bootstrap.db.rbac"
    ( include "corda.rbacDbDefaultSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "generate" 12 ) )
    ( dict "cleanup" true )
  )
}}
{{- if .Values.stateManager.db.host }}
{{- include "corda.secret"
    ( list
      $
      .Values.bootstrap.db.stateManager
      "boostrap.db.stateManager"
      ( include "corda.bootstrapStateManagerDbDefaultSecretName" . )
      ( dict "username" ( dict ) "password" ( dict ) )
      ( dict "cleanup" true )
    )
}}
{{- end }}
{{- end }}
{{- if or (.Values.bootstrap.db.enabled) (and (.Values.bootstrap.rbac.enabled) (and (or (.Values.bootstrap.restApiAdmin.username.value) (.Values.bootstrap.restApiAdmin.username.valueFrom.secretKeyRef.name)) (or (.Values.bootstrap.restApiAdmin.password.value) (.Values.bootstrap.restApiAdmin.password.valueFrom.secretKeyRef.name)))) }}
{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.restApiAdmin
    "bootstrap.restApiAdmin"
    ( include "corda.restApiAdminSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "generate" 12 ) )
  )
}}
{{ else if .Values.bootstrap.rbac.enabled }}
{{- fail "credentials for restApiAdmin must be provided to bootstrap RBAC if DB bootstrap is disabled" }}
{{- end }}
{{- if not .Values.workers.rest.tls.secretName }}
{{- $altNames := list }}
{{- if .Values.workers.rest.tls.generation }}
{{-   $altNames = .Values.workers.rest.tls.generation.altNames }}
{{- end}}
{{- include "corda.tlsSecret"
  ( list
    $
    "REST Worker"
    ( printf "%s-rest-worker" ( include "corda.fullname" $ ) )
    $altNames
    ( include "corda.restTlsSecretName" . )
    .Values.workers.rest.tls.crt.secretKey
    .Values.workers.rest.tls.key.secretKey
    .Values.workers.rest.tls.ca.secretKey
  )
}}
{{- end }}