{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.db.cluster
    "boostrap.db.cluster"
    ( include "corda.bootstrapClusterDbDefaultSecretName" . )
    ( dict "username" ( dict ) "password" ( dict ) )
  )
}}
{{- include "corda.secret"
  ( list
    $
    .Values.db.cluster
    "db.cluster"
    ( include "corda.clusterDbDefaultSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "required" true ) )
  )
}}
{{- include "corda.secret"
  ( list
    $
    .Values.config.encryption
    "config.encryption"
    ( printf "%s-config" ( include "corda.fullname" . ) )
    ( dict "salt" ( dict "generate" 32 ) "passphrase" ( dict "generate" 32 ) )
  )
}}
{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.db.crypto
    "bootstrap.db.crypto"
    ( include "corda.cryptoDbDefaultSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "generate" 12 ) )
  )
}}
{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.db.rbac
    "bootstrap.db.rbac"
    ( include "corda.rbacDbDefaultSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "generate" 12 ) )
  )
}}
{{- include "corda.secret"
  ( list
    $
    .Values.bootstrap.initialAdminUser
    "bootstrap.initialAdminUser"
    ( include "corda.initialAdminUserSecretName" . )
    ( dict "username" ( dict "required" true ) "password" ( dict "generate" 12 ) )
  )
}}
